* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1250px) {
    body {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 750px) {
    body {
        font-size: 10px !important;
    }

    input {
        font-size: 7px !important;
    }
}

@media screen and (max-width: 550px) {
    body {
        font-size: 7px !important;
    }

    input {
        font-size: 6px !important;
    }
}

.Button {
    background: linear-gradient(90deg, rgba(138, 80, 232, 1) 1%, rgba(0, 175, 161, 1) 100%);
    color: white;
    width: 12%;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-bottom: 25px;
}

.Button:hover {
    cursor: pointer;
    
   
}

.App {
    width: 100%;
    height: 100%;
    /* background: rgb(141, 36, 129);
    background: linear-gradient(90deg, rgba(141, 36, 129, 1) 15%, rgba(240, 111, 37, 1) 100%); */
    background: rgb(138, 80, 232);
    background: linear-gradient(90deg, rgba(138, 80, 232, 1) 1%, rgba(0, 175, 161, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.Wrapper {
    width: 80%;
    background-color: #191b1f;
    padding: 15px;
}